/* font-family: 'Lobster', cursive;
font-family: 'Indie Flower', cursive;
color: #EEEEEE;
background-color: #393E46;
color: #4ECCA3;*/

/* Elements */

body {
  font-family: 'Indie Flower', cursive;
  text-align: center;
  background-color: #393E46;
}

h1 {
  font-size: 8rem;
  font-weight: normal;
  margin-block-start:0; margin-block-end:0; margin-inline-start:0; margin-inline-end:0;
  padding-block-start:0; padding-block-end:0; padding-inline-start:0; padding-inline-end:0;
}

h3 {
  font-size: 2rem;
  font-weight: normal;
  margin-block-start:0; margin-block-end:0; margin-inline-start:0; margin-inline-end:0;
  padding-block-start:0; padding-block-end:0; padding-inline-start:0; padding-inline-end:0;
}

img {
  margin: 15px 0;
  height: 200px;
  width: 200px;
}

/* Header Section */

#header {
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  color: #4ECCA3;
  margin: 50px 0 75px;
}

/* Game Section */

#game {
  color: #4ECCA3;
}

.player {
  display: inline-block;
  margin: 0 20px 50px;
}

/* Footer Section */

#footer {
  color: #EEEEEE;
}
